@media (min-width: 573px){
  .alto-100{
      height:100vh;
  }
}

$container-max-widths: (
  sm: 300px,
  md: 350px,
  lg: 400px,
  xl: 450px,
  xxl: 450px
);

@import "../node_modules/bootstrap/scss/bootstrap";